@import '../../roots/roots.css';

.card {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.formButton {
    margin-top: 8px;
}
.ask {
    margin-bottom: 20px;
    font-size: 22px;
}