
.product-images-slider {
    margin-bottom: 15px;
}

.product-images-slider .swiper-slide {

    padding-top: 70%;
    overflow: hidden;
    position: relative;
}

.product-images-slider .swiper-slide img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.product-images-slider-thumbs .swiper-slide {
    cursor: pointer;
    border: 1px solid #dddbdb;
    width: 25%;
    height: 100%;
    opacity: 0.6;
}

.product-images-slider-thumbs .swiper-slide img {
    object-fit: cover; 
}

.product-images-slider-thumbs .swiper-slide-thumb-active {
    opacity: 1;
    border: 2px solid var(--primary-color) ;
}

.product-images-slider-thumbs-wrapper {
    width: 100%;
    padding-top: 65%;
    overflow: hidden;
    position: relative;
}

.product-images-slider-thumbs-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.swiper-button-next {
    --swiper-navigation-size: 30px;
}
.swiper-button-prev {
    --swiper-navigation-size: 30px;
}
